<!DOCTYPE <!DOCTYPE html>
<html>
<head>
	<title>About Me</title>
	<meta name=viewport content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.2/css/animsition.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../resources/css/aboutMe.css">
</head>
<body class="animsition">
	<div class="page-wrap">
		<div id="about-me">
			<h1>Who am I?</h1>
					<p>My name is Richard Chung. I am a UCLA graduate with a degree in Computer Science and Linguistics.</p>
			<h1>Who's Richard L. Chung then?</h1>
					<p>'Richard L. Chung' is the pseudonym I take up whenever I do creative work. Hence, you may see many variations of my pseudonym on social media. There is a story behind the "L" but that's a secret for now.</p>
			<h1>What do you like to do?</h1>
					<p>When I am not busy, I enjoy taking photos, making videos, dancing, and exploring the world. Oh, and I also code here and there :)</p>
			<h1>What's in your camera bag?</h1>
					<p>I currenty shoot with a Canon 6D and my lenses include: Canon 16-35mm f/4L IS USM, Sigma 35mm f/4 DG HSM Art, and Canon 135mm f/2L USM.</p>
		</div>
			
		<div id="home">
			<h1><a class="animsition-link"  href="../index.html">Home</a></h1>
		</div>
	</div>

	<footer>
		<h4>&#169Richard Chung</h4>
	</footer>

	<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.2/js/animsition.min.js"></script>
	<script type="text/javascript" src="../resources/js/indexLoad.js"></script>
</body>
</html>
