<!DOCTYPE html>
<html>
<head>
	<title>Under Construction</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.2/css/animsition.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../resources/css/construction.css">
</head>
<body class="animsition">
	<div class="page-wrap">
		<h1>This page is under construction. Please check back again soon!</h1>

		<div id="home">
			<h1><a class="animsition-link"  href="../index.html">Home</a></h1>
		</div>
	</div>

	<footer>
		<h4>&#169Richard Chung</h4>
	</footer>

	<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.2/js/animsition.min.js"></script>
	<script type="text/javascript" src="../resources/js/indexLoad.js"></script>
</body>
</html>