<!DOCTYPE <!DOCTYPE html>
<html>
<head>
	<title>Photography</title>
	<meta name=viewport content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.2/css/animsition.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../resources/css/photo.css">
	<link rel="stylesheet" href="https://unpkg.com/flickity@1.2/dist/flickity.min.css">
</head>
<body class="animsition">
	<div class="page-wrap">
		<div class="main-carousel js-flickity flickity-enabled is-draggable" data-transition="crossfade" data-transition-duration="500" data-keyboard="true" data-flickity-options='{
				"wrapAround": true, "setGallerySize": true, "imagesLoaded": true
			}'>
				<img src="../resources/img/portfolio-1.jpg">
				<img src="../resources/img/portfolio-2.jpg">
				<img src="../resources/img/portfolio-3.jpg">
				<img src="../resources/img/portfolio-4.jpg">
				<img src="../resources/img/portfolio-5.jpg">
				<img src="../resources/img/portfolio-6.jpg">
				<img src="../resources/img/portfolio-7.jpg">
				<img src="../resources/img/portfolio-8.jpg">
				<img src="../resources/img/portfolio-9.jpg">
				<img src="../resources/img/portfolio-10.jpg">
			
		</div>

		<div id="home">
			<h1><a class="animsition-link"  href="../index.html">Home</a></h1>
		</div>
	</div>

	<footer>
		<h4>&#169Richard Chung</h4>
	</footer>

	<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.2/js/animsition.min.js"></script>
	<script type="text/javascript" src="../resources/js/indexLoad.js"></script>
	<script src="https://unpkg.com/flickity@1.2/dist/flickity.pkgd.min.js"></script>
</body>
</html>